# For work with Django
SECRET_KEY=

# For debug with Django
DEBUG=

# For Database
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# Data for the custom command csu.py
CSU_USERNAME=
CSU_EMAIL=
CSU_FIRST_NAME=
CSU_LAST_NAME=
CSU_PASSWORD=

# For access token lifetime
ACCESS_TOKEN_LIFETIME=

# For CORS settings
CORS_ALLOWED_ORIGINS=
CSRF_ALLOWED_ORIGINS=
CORS_ALLOW_CREDENTIALS=
